.Detail {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 20vh;
    left: 25vw;
    width: 50vw;
    height: 25vh;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0.839);
    color: aliceblue;
    border-radius: 1rem;
    padding: 2rem;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
}

.DisplayContainer {
    height: 100vh;
    display: flex;
    justify-content: center;
}

.Detail ul {
    width: 30rem;
}

.ButtonsDetail {
    display: flex;
    justify-content: space-around;
    padding: -3rem;
    margin-bottom: 2rem;
    width: 100%;
}

.ButtonsDetail button {
    box-shadow: 0 0 18px 1px rgba(75, 43, 255, 0.5);
    padding: 0.8rem 1.8rem;
}

.PlayerInfo {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.PlayerInfo p {
    font-weight: 100;

}

@media (max-width: 500px) {
    .Detail {
        width: 90vw;
        height: 80vh;
        top: 10vh;
        left: 5vw;
    }

    .PlayerInfo {
        width: 40%;
    }

    .Detail h2 {
        margin-left: 20rem;
    }

    .Detail h3 {
        margin-left: 20rem;
    }

    .Detail ul {
        width: 30rem;
        margin-left: 20rem;
    }
    
}

.SectionPlayersAndType {
    display: flex;
    justify-content: space-between;
}